# Python Basics

In [4]:
# Python basics -- this is a comment in python

In [5]:
# Python is an interpreted, interactive,
# object-oriented programming language. 
# It supports procedural and functional 
# programiming as well. It incorporates modules,
# exceptions, dynamic typing, 
# dynamic data types and classes

In [8]:
# python variables 
x = 3
xy12 = "hello"
# 12by = "welcome" # wrong variable name

In [9]:
# variables are used to store values 
x

3

In [10]:
# output in python

print(x)

3

In [11]:
# data types 
"""
    string 
    int
    float
    list
    sets
    boolean
    dict
"""

'\n    string \n    int\n    float\n    list\n    sets\n    boolean\n    dict\n'

In [12]:
6 + 5

11

In [13]:
# mathematical and logical operators 
# + - / *; > < >= <= etc.

In [14]:
# variables and variable assignment

x = 5
# x is the variable 
# = is the assignment operator
# 5 is the value assigned to the variable

# it is impossible to create a variable without
# assigning a value to it. However, you can 
# create empty variables

In [15]:
print(x)

5

In [16]:
# numbers 
# int or float
# 5 or 2.5

# text
# strings - use single quotes or double quotes
# 'Hello' or "Welcome"

In [17]:
y = "welcome"

In [18]:
print(y)

welcome

In [19]:
xy = "Welcome to data analysis with python"

In [20]:
print(xy)

Welcome to data analysis with python

In [22]:
print(type(xy))

<class 'str'>

In [23]:
print(type(2.5))

<class 'float'>

In [24]:
# collection types 
# list and tuple

In [25]:
# list 
# class list()
# shortcut []

# your list can hold other data types

In [26]:
names = ['james','john','joy','jane']

In [27]:
print(names)

['james', 'john', 'joy', 'jane']

In [28]:
# empty list 
jobs = list()
print(jobs)
print(type(jobs))

[]
<class 'list'>

In [29]:
# tuple
# it is an ordered and unchangeable collection type
# class tuple()
# shortcut ()
fruits = ('apple','mango','banana')
print(fruits)
print(type(fruits))

('apple', 'mango', 'banana')
<class 'tuple'>

In [30]:
# Booleans
# usually divided into True or False

In [31]:
5>6

False

In [33]:
# collection types
# sets
# class set()
# shortcut {}

In [34]:
fruitsSingle = {'apple','orange','grape',
                'apple'}
print(fruitsSingle)

{'grape', 'apple', 'orange'}

sets are unordered and duplicates are not allowed

In [36]:
# dictionary / dict
# class dict()
# shortcut {}
# dicts have key:value pairs

In [37]:
# dicts are ordered, no duplicate keys,
# changeable

In [38]:
car = {
  "brand":"toyota",
    "model":"corolla",
    "year":2022,
}
print(car)
print(type(car))

{'brand': 'toyota', 'model': 'corolla', 'year': 2022}
<class 'dict'>